<div
  class="bg-white border-none rounded-3xl shadow-sm pr-24 pl-6 pt-4 pb-4 shadow-lg hover:shadow-xl transition-shadow cursor-pointer"
  (click)="goToCategory()">
  <a>
    <img class="rounded-full max-w-[150px] my-6 object-cover aspect-[4/5]" src="{{category().imageUrl}}"
      alt="category image" />
  </a>
  <div class="px-3 pt-6 pb-0">
    <p class="text-sm text-gray-700 text-[#241b6a]">Category</p>
    <a>
      <h5 class="my-2 text-3xl font-normal tracking-tight text-gray-800 ">{{category().name}}</h5>
    </a>
    <a class="inline-flex items-center py-2 mt-4 text-md font-medium text-center rounded-lg text-indigo-800">
      See more
      <app-icon iconName="arrow-right-small" class="rtl:rotate-180 w-3.5 h-3.5 ms-2" />
    </a>
  </div>
</div>
