<div class="nc-Footer relative py-20 lg:pt-28 lg:pb-24 border-t border-neutral-200 dark:border-neutral-700">
  <div class="container grid grid-cols-2 gap-y-10 gap-x-5 sm:gap-x-8 md:grid-cols-4 lg:grid-cols-5 lg:gap-x-10 m-auto">
    <div class="flex items-top justify-end">
      <img src="https://genstorageaccount3116.blob.core.windows.net/printme-images/logo.svg" alt="Logo"
        class="h-full max-h-28 w-auto" />
    </div>
    @for (menu of widgetMenus; track menu.id) {
    <div class="text-sm">
      <h2 class="font-semibold text-neutral-700 dark:text-neutral-200">
        {{ menu.title }}
      </h2>
      <ul class="mt-5 space-y-4">
        @for (item of menu.menus; track item.href) {
        <li>
          <a class="text-neutral-6000 dark:text-neutral-300 hover:text-black dark:hover:text-white" [href]="item.href"
            rel="noopener noreferrer">
            {{ item.label }}
          </a>
        </li>
        }
      </ul>
    </div>
    }
  </div>
</div>