<section class="bg-white dark:bg-gray-900 my-10">
  <div class="py-8 mx-auto max-w-screen-xl lg:py-16">
    <div class="flex flex-col md:flex-row gap-8">
      <div class="flex-1 flex flex-col justify-center">
        <h3 class="text-gray-500 text-indigo-400 text-4xl font-normal mb-2">
          Our Services
        </h3>
        <h2 class="text-gray-900 text-6xl font-bold mb-8">
          Urban Style Hub
        </h2>
        <p class="text-xl font-normal text-gray-500 dark:text-gray-400 mb-8">
          We offer unique, high-quality niche clothing designed to stand out. Enjoy fast shipping, easy returns, and
          personal customer support. Whether you're dressing for expression or identity, we help you wear what
          matters—authentically, confidently, and hassle-free.
        </p>
        <a href="#"
          class="text-indigo-800 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center mt-4">Read
          more
          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
      <div class="flex-1 p-8 md:p-12">
        <img
          src="https://static.zara.net/assets/public/91f4/6847/966c48738cf9/0a7e96eed8f1/02686709533-a4/02686709533-a4.jpg?ts=1741954241019&w=1482"
          alt="" class="w-full h-auto object-cover rounded-xl drop-shadow-lg brightness-90 max-h-160" />
      </div>
    </div>
  </div>
</section>