<section class="bg-white dark:bg-gray-900 my-10">
  <div class="py-8 mx-auto max-w-screen-xl lg:py-16">
    <div class="flex flex-col md:flex-row gap-8">
      <div class="flex-1 flex flex-col justify-center">
        <h3 class="text-gray-500 text-indigo-400 text-4xl font-semibold mb-2">
          Our Services
        </h3>
        <h2 class="text-gray-900 dark:text-white text-6xl font-bold mb-8">
          Print Me Studio
        </h2>
        <p class="text-xl font-normal text-gray-500 dark:text-gray-400 mb-8">
          Transform your home with museum-quality art prints and striking photography. Our carefully curated collection
          showcases vivid colors and fine details. Explore beautiful posters, elegant prints, and captivating photos,
          all with custom framing options to enhance any space at affordable prices.
        </p>
        <a href="#"
          class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center mt-4">Read
          more
          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
      <div class="flex-1 p-8 md:p-12">
        <img src="https://genstorageaccount3116.blob.core.windows.net/printme-images/home-hero-1.webp" alt=""
          class="w-full h-auto object-cover rounded-xl drop-shadow-lg brightness-90" />
      </div>
    </div>
  </div>
</section>