<div class="nc-SectionGridFeatureItems relative">
  <app-section-title label="Popular Now" title="Trending Art Pieces" />
  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 ">
    @for (product of products().data; track product.id) {
    <app-product-card [product]="product"></app-product-card>
    }
  </div>
  <div class="mt-6 flex justify-center sm:justify-start">
    <button
      class="relative h-auto cursor-pointer inline-flex items-center justify-center rounded-full transition-colors text-sm font-medium py-3 px-5 disabled:bg-opacity-90 bg-slate-900 hover:bg-slate-800 text-slate-50 shadow-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-6000"
      (click)="goToProductListPage()">
      <span>Show me more</span>
    </button>
  </div>
</div>
