.paper-options-container {
  margin-top: 0.25rem;
  position: relative;
}

.papers-link {
  position: absolute;
  top: -2.5rem;
  right: 0;
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  margin-top: 0.75rem;
  font-size: 0.8rem;
  color: #384f8c;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;

  svg {
    opacity: 0.8;
  }

  &:hover {
    color: rgb(22, 122, 146);
    text-decoration: underline;

    svg {
      opacity: 1;
    }
  }
}
