<div class="cart-container">
  <div class="cart-detail flex flex-col gap-4">
    <div class="flex gap-4">
      <div class="px-7 py-3 w-3xs">
        <img src="{{cartItem()?.pictureUrl}}" alt="{{cartItem()?.productName}}" class="rounded-md" />
      </div>
      <div class="flex-1">
        <div class="mt-8 flex items-center justify-between">
          <div>
            <h3 class="mb-4 font-semibold">{{cartItem()?.productName}}</h3>
            <div class="flex">
              <p class="border-r pr-3">{{cartItem()?.selectedOptions?.[0]?.optionName}}</p>
              <p class="ml-3">{{cartItem()?.selectedOptions?.[1]?.optionName}}</p>
            </div>
          </div>
          <div class="flex justify-center items-center">
            <button class="border rounded-full px-3 py-1 cursor-pointer" (click)="changeQuantity(-1)">-</button>
            <p class="mx-2">{{cartItem()?.quantity}}</p>
            <button class="border rounded-full px-3 py-1 cursor-pointer" (click)="changeQuantity(1)">+</button>
          </div>
          <div class="flex justify-end mr-10">
            <p>{{cartItem()?.noDiscountUnitPrice}}</p>
          </div>
        </div>
        <div class="flex justify-end mr-10 mt-30 items-center">
          <button
            class="w-fit text-white hover:opacity-50 font-medium rounded-lg text-sm px-3 py-1 bg-rose-700 cursor-pointer mb-5"
            (click)="removeItem()">
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>