<div class="mt-2 space-y-7 lg:space-y-8">
  <div>
    <div
      class="flex items-center justify-center px-4 py-2 text-sm rounded-full border focus:outline-none cursor-pointer select-none"
      [class]="isMatIncluded()
        ? 'border-indigo-500 bg-indigo-50 text-indigo-900'
        : 'border-neutral-300 text-neutral-700 hover:border-neutral-400'" (click)="onMatToggle()">
      <!-- PlusIcon SVG -->
      <app-icon iconName="plus" class="w-4 h-4 text-slate-600" />
      <span class="line-clamp-1 ml-2">Include Mat</span>
    </div>
  </div>
</div>
