<div class="my-40 grid grid-cols-2">
  <div class="image-container p-8">
    @if (product().images && product().images.length > 0) {
    <img src="{{ product().images[0].original }}" alt="chisfis listing gallery" class="rounded-md">
    }
  </div>
  <div class="info-container p-8">
    <div class="flex justify-between mb-2">
      <h2 class="text-2xl font-semibold">
        {{ product().name }}
      </h2>
      <p class="text-lg text-gray-500">
        @if (hasAllOptionsSelected()) {
        {{ calculatedPrice() | currency:'EUR':'symbol':'1.2-2' }}
        } @else {
        <span class="text-sm text-gray-400">Starting from</span> {{ product().cheapestPrice |
        currency:'EUR':'symbol':'1.2-2' }}
        }
      </p>
    </div>
    <div>
      <button type="button"
        class="text-white hover:opacity-50 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 bg-indigo-600 cursor-pointer"
        (click)="goToCart()">Go
        to basket</button>
    </div>

    @for (group of product().optionGroups; track group.name; let groupIndex = $index) {
    <h5 class="text-lg font-semibold">
      {{ group.name }}
    </h5>
    <div class="flex gap-4">
      @for (option of group.options; track option.id) {
      <div class="w-10 h-10 border rounded-md flex items-center justify-center cursor-pointer"
        [class.bg-indigo-600]="group.selectedOptionId === option.id"
        [class.text-white]="group.selectedOptionId === option.id" (click)="selectOption(groupIndex, option.id)">
        <span class="text-lg font-semibold">{{ option.value }}</span>
      </div>
      }
    </div>
    }
    <div class="product-quantity mt-2">
      <h5 class="text-lg font-semibold">
        Quantity
      </h5>
      <div class="flex items-center">
        <button class="w-10 h-10 border rounded-md flex items-center justify-center cursor-pointer">
          <span class="text-lg font-semibold">-</span>
        </button>
        <input type="text" class="w-10 h-10 border rounded-md flex items-center justify-center mx-4 text-lg" value="1">
        <button class="w-10 h-10 border rounded-md flex items-center justify-center cursor-pointer">
          <span class="text-lg font-semibold">+</span>
        </button>
      </div>
    </div>
    <div class="product-action my-4">
      <button class="w-full h-12 bg-indigo-600 text-white rounded-md" [class.opacity-50]="!hasAllOptionsSelected()"
        [class.cursor-not-allowed]="!hasAllOptionsSelected()" [class.cursor-pointer]="hasAllOptionsSelected()"
        [disabled]="!hasAllOptionsSelected()" (click)="addToCart()">
        Add to Cart
      </button>
    </div>
    <div class="product-description my-4">
      <h5 class="text-lg font-semibold my-4">
        Description
      </h5>
      <p class="text-lg text-gray-500 my-4">
        {{ product().description }}
      </p>
    </div>
  </div>
