<div class="cursor-pointer flex flex-col p-5 h-full flex-grow group" (click)="goToProduct()">
  <div class="mb-3 h-full relative overflow-hidden">
    <img class="rounded-sm h-full w-full object-cover transition-opacity duration-300 group-hover:opacity-0"
      [src]="product().image.original" [alt]="product().name" />
    @if (product().secondImage?.original) {
    <img
      class="rounded-sm h-full w-full object-cover absolute inset-0 opacity-0 transition-opacity duration-300 group-hover:opacity-100"
      [src]="product().secondImage.original" [alt]="product().name" />
    }
  </div>
  <div class="flex flex-col">
    <p class="text-md leading-[12px] font-extralight uppercase tracking-tight text-gray-700 mb-0">{{product().name}}</p>
    <p class="text-md tracking-tight text-balance text-[#535981]" style="line-height: 12px;">
      <span class="text-xs">FROM </span>
      €{{product().cheapestPrice.toFixed(2)}}
    </p>
  </div>
</div>