<div class="image-container">
  @if (images() && images().length > 0) {
  <div class="grid grid-cols-2 md:grid-cols-3 gap-3 lg:gap-6">
    <!-- Main large image -->
    <div class="md:h-full col-span-2 md:col-span-1 row-span-2 relative rounded-md sm:rounded-xl cursor-pointer"
      (click)="openGallery()">
      <img [src]="images()[0].original" alt=""
        class="object-cover rounded-md sm:rounded-xl w-full h-full aspect-[3/4] md:aspect-auto">
      <div
        class="absolute inset-0 bg-neutral-900/20 opacity-0 hover:opacity-40 transition-opacity rounded-md sm:rounded-xl">
      </div>
    </div>

    <!-- Other images -->
    @for (item of images().slice(1, 4); track $index; let i = $index) {
    <div class="relative rounded-md sm:rounded-xl overflow-hidden z-0 cursor-pointer"
      [class]="i === 0 ? 'col-span-1 row-span-2' : ''" (click)="openGallery(i + 1)">
      <img [src]="item.original" alt="" class="object-cover w-full h-full rounded-md sm:rounded-xl"
        [class]="i === 0 ? '' : 'aspect-[6/5] lg:aspect-[6/4]'">
      <div class="absolute inset-0 bg-slate-900/20 opacity-0 hover:opacity-60 transition-opacity"></div>
    </div>
    }
  </div>

  <!-- Show all photos button -->
  <div
    class="absolute hidden md:flex md:items-center md:justify-center left-3 bottom-3 px-4 py-2 rounded-xl bg-white text-slate-500 cursor-pointer hover:bg-slate-200 z-10"
    (click)="openGallery()">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
        d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
    </svg>
    <span class="ml-2 text-neutral-800 text-sm font-medium">Show all photos</span>
  </div>

  <!-- Gallery Component -->
  <app-image-gallery-modal [isShowModal]="showGallery" [images]="galleryImages()" (onClose)="closeGallery()">
  </app-image-gallery-modal>
  }
</div>