<div class="lg:shadow-lg p-8">
  <div class="flex justify-between mb-6">
    <p class="text-lg text-gray-500">
      @if (hasAllOptionsSelected()) {
      {{ calculatedPrice() | currency:'EUR':'symbol':'1.2-2' }}
      } @else {
      <span class="text-sm text-gray-400">Starting from<br /></span> {{ product().cheapestPrice |
      currency:'EUR':'symbol':'1.2-2' }}
      }
    </p>
  </div>

  <!-- Display product options -->
  @for (group of this.product().optionGroups; track group.name; let groupIndex = $index) {
  <div class="mb-4">
    <h5 class="text-sm mb-1">
      {{ group.name }} {{ getSelectedOptionName(group.selectedOptionId)}}
    </h5>
    @if(group.name.toLowerCase() == 'frame'){
    <app-frame-options [group]="group" (optionSelected)="selectOption(groupIndex,$event)"></app-frame-options>
    }
    @else if(group.name.toLowerCase() == 'including mat'){
    <app-mat-options [(isMatIncluded)]="isMatIncluded"></app-mat-options>
    }
    @else if(group.name.toLowerCase() == 'size'){
    <app-size-options [sizes]="sizeOptions" [(sizeSelected)]="selectedSize"></app-size-options>
    }
    @else{
    <app-options [group]="group" (optionSelected)="selectOption(groupIndex,$event)"></app-options>
    }
  </div>
  }
  <div class="mt-8">
    <h5 class="text-sm mb-1">
      Quantity
    </h5>
    <div class="flex gap-3">
      <app-input-number [(value)]="quantity"></app-input-number>
      <button type="button" [class.opacity-50]="!hasAllOptionsSelected()"
        [class.cursor-not-allowed]="!hasAllOptionsSelected()" [class.cursor-pointer]="hasAllOptionsSelected()"
        [disabled]="!hasAllOptionsSelected()" (click)="addToCart()"
        class="flex-1 nc-Button flex items-center justify-center rounded-full text-sm font-medium py-3 px-4 bg-slate-900 hover:bg-slate-800 text-slate-50 shadow-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-600">
        <app-icon iconName="cart"></app-icon>
        <span class="ml-3">Add to cart</span>
      </button>
    </div>
  </div>
</div>