<div class="px-8">
  <div class="name-inputs mb-3 flex">
    <div class="basis-full p-2">
      <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">First name</label>
      <input [(ngModel)]="userDetails().firstName" type="text" id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
        placeholder="John" required />
    </div>
    <div class="basis-full p-2">
      <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900">Last name</label>
      <input [(ngModel)]="userDetails().lastName" type="text" id="last_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
        placeholder="Doe" required />
    </div>
  </div>
  <div class="mb-3">
    <div class="email p-2">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email address</label>
      <input [(ngModel)]="userDetails().email" type="email" id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
        placeholder="john.doe@company.com" required />
    </div>
  </div>
  <div class="flex mb-3">
    <div class=" basis-full p-2">
      <label for="city" class="block mb-2 text-sm font-medium text-gray-900">City</label>
      <input [(ngModel)]="userDetails().city" type="text" id="city"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
        placeholder="Amsterdam" required />
    </div>
    <div class="basis-full p-2">
      <label for="country" class="block mb-2 text-sm font-medium text-gray-900">Country</label>
      <input [(ngModel)]="userDetails().country" type="text" id="country"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
        placeholder="Netherlands" required />
    </div>
  </div>
  <div class="flex mb-3">
    <div class="basis-full p-2">
      <label for="postal-code" class="block mb-2 text-sm font-medium text-gray-900">Postal-code</label>
      <input [(ngModel)]="userDetails().postalCode" type="text" id="postal-code"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
        placeholder="5689 HH" required />
    </div>
    <div class="basis-full p-2">
      <label for="house-number" class="block mb-2 text-sm font-medium text-gray-900">House-number</label>
      <input [(ngModel)]="userDetails().houseNumber" type="text" id="house-number"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
        placeholder="90" required />
    </div>
  </div>
  <div class="p-2">
    <label for="address-details" class="block mb-2 text-sm font-medium text-gray-900">Address
      details</label>
    <input [(ngModel)]="userDetails().addressDetails" type="text" id="address-details"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
      placeholder="..." />
  </div>
</div>