<div class="relative flex flex-col lg:flex-row">
  <div class="relative self-center flex-shrink-0 mb-10 sm:mb-16 lg:mb-0 lg:mr-10 lg:w-2/5"><a
      class="ttnc-logo hidden lg:inline-block text-slate-600 w-24 sm:w-28" title="" href="/">
      <img src="https://genstorageaccount3116.blob.core.windows.net/printme-images/logo.svg"
        sizes="(min-width: 768px) 200px, 100vw" alt="Logo"
        class="block h-16 sm:h-20 w-auto main-logo max-w-[130px] sm:max-w-[150px] md:max-w-[200px]" width="235"
        height="112" style="margin-right: auto; margin-left: auto;">
    </a>
    <h1 class="font-semibold text-3xl sm:text-3xl xl:text-5xl 2xl:text-6xl mt-4 sm:mt-10 leading-tight tracking-tight">
      Visit Us <span class="text-primary">in Den Bosch</span>
    </h1>
    <span class="block mt-4 sm:mt-6 text-slate-500 text-base sm:text-xl">
      <span dir="auto" style="vertical-align: inherit;">Experience our craftsmanship firsthand. Pick up your prints,
        enjoy a coffee, and see where the magic happens.</span>
    </span>
    <div class="flex flex-col sm:flex-row gap-3 sm:gap-5 mt-6 sm:mt-12">
      <a class="nc-Button relative h-auto inline-flex items-center justify-center rounded-full transition-colors text-sm sm:text-base font-medium py-3 px-4 sm:py-3.5 sm:px-6  ttnc-ButtonPrimary disabled:bg-opacity-90 bg-slate-900 hover:bg-slate-800 text-slate-50 shadow-xl  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-6000 "
        title="" href="/contact">
        <span dir="auto" style="vertical-align: inherit;">Plan Your Visit</span>
      </a>
      <a class="nc-Button relative h-auto inline-flex items-center justify-center rounded-full transition-colors text-sm sm:text-base font-medium py-3 px-4 sm:py-3.5 sm:px-6  ttnc-ButtonSecondary bg-white text-slate-700 hover:bg-gray-100 border border-slate-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-6000 "
        title="" href="/search">
        <span dir="auto" style="vertical-align: inherit;">Browse prints</span>
      </a>
    </div>
  </div>
  <div class="relative flex-1 text-center">
    <div class="block">
      <img src="https://genstorageaccount3116.blob.core.windows.net/printme-images/alone-painter.webp"
        sizes="(max-width: 767px) 100vw, 50vw" alt="Promo Painter working in studio"
        class="w-full max-w-[330px] sm:max-w-xl md:max-w-2xl h-auto mx-auto rounded-tl-[22%] sm:rounded-tl-[30%] shadow-lg">
    </div>
  </div>
</div>