<div class="flex flex-col w-full max-w-screen-sm mt-32">
  <div class="page-card w-full bg-indigo-300 min-h-64 mb-2">
    <h1 class="text-3xl text-center font-bold">
      SIGN IN
    </h1>
    <div class="mt-16 text-center">
      <div style="max-width: 300px; margin:auto">
        <asl-google-signin-button [size]="'large'" [shape]="'rectangular'" [type]="'standard'" [theme]="'outline'"
          [text]="'signin_with'" [logo_alignment]="'left'"></asl-google-signin-button>
      </div>
    </div>
  </div>
</div>