<div class="content-container">

  <div class="header-background h-24 2xl:h-28 top-0 left-0 right-0 w-full bg-sky-50 ">
  </div>
  <header class="max-w-2xl mx-auto -mt-10 flex flex-col lg:-mt-7 w-full">
    <div class="relative w-full">
      <label for="search-input" class="text-neutral-500">
        <span class="sr-only">Search all products</span>
        <input id="search-input" type="text"
          class="w-full shadow-lg border border-neutral-200 text-sm rounded-full pl-14 pr-14 py-5 bg-white focus:outline-none focus:ring-2 focus:ring-sky-200"
          [(ngModel)]="searchText" (keyup.enter)="search()" placeholder="Type your keywords" />
        <button type="button"
          class="absolute right-2.5 top-1/2 -translate-y-1/2 w-11 h-11 rounded-full bg-black hover:bg-black text-white flex items-center justify-center hover:cursor-pointer"
          (click)="search()">
          <app-icon iconName="arrow-right"></app-icon>
        </button>

        <span class="absolute left-5 top-1/2 -translate-y-1/2 text-2xl md:left-6 pointer-events-none">
          <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M22 22L20 20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </label>
    </div>
  </header>
</div>
<div class="flex">
  <div id="filters" class="flex-2">
    <h2 class=" text-lg font-normal text-indigo-900 my-4 bg-white rounded-[5px]">
      <span class="inline-flex border-b-2 border-indigo-900 pr-4 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6 mr-[1px]">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
        </svg>
        Filters
      </span>
    </h2>
    @for (group of filterOptions(); track group.name; let groupIndex = $index) {
    <div class="mb-1 pl-2">
      <div>
        <h3 class="mb-1 text-md font-semibold uppercase text-slate-900">
          {{ group.name }}
        </h3>
      </div>
      <div
        [class]="group.name.toLowerCase() === 'color' ? 'grid grid-cols-4 mb-1 max-w-[80%]' : 'flex flex-col gap-1 mb-1'">
        @for(option of group.options; track option.name; let optionIndex = $index) {
        @if(group.name.toLowerCase() == 'color'){
        <div class="test w-8 h-8 flex items-center justify-center cursor-pointer p-1 mb-2 color-option shadow-lg"
          [style.backgroundColor]="mapColorToHex(option.name)" (click)="selectOption(group.groupType, option.name)">
        </div>
        }
        @else{
        <p class="text-sm cursor-pointer mb-1 hover:text-indigo-700"
          (click)="selectOption(group.groupType, option.name)" [class]="(
          selectedFilterOptions().categoryName === option.name ||
          selectedFilterOptions().attributeName === option.name ||
          selectedFilterOptions().optionName === option.name
        ) ? 'text-slate-950 font-light pl-1': ''">
          {{option.name }}
        </p>
        }
        }
      </div>
    </div>
    <hr class="mb-4 border-b-1 border-indigo-800 w-[150px] ml-0 opacity-15">
    }
  </div>
  <div class="flex-10 mb-15">
    <div class="grid grid-cols-3 mb-2">
      @for (product of products().data; track product.id) {
      <app-product-card [product]="product" class=""></app-product-card>
      }
    </div>
    <div class="flex justify-end">
      <app-pagination [className]="'mt-8'"></app-pagination>
    </div>
  </div>

</div>