<div class="w-full">
  <div class="relative isolate px-6 lg:px-8">
    <div class="mx-auto max-w-2xl pb-16 pt-45">
      <div class="text-center">
        <h1 class="font-semibold tracking-tight text-balance text-indigo-500 sm:text-6xl">Print Me Studio</h1>
        <p class="mt-4 text-gray-600 sm:text-lg">We are a team of professionals who are passionate about what we do. We
          are here to
          help you with all your printing needs.</p>
      </div>
    </div>
  </div>
  <div>
    <h3 class="text-3xl font-semibold text-gray-700 mb-12">Our Categories</h3>
  </div>
  <div class="grid grid-cols-4 gap-6">
    @for (childCat of childCategories() ; track childCat) {
    <app-collection-card [category]="childCat" />
    }
  </div>
  <div>
    <app-our-services />
  </div>
</div>