<div class="w-full">
  <div class="relative isolate px-6 lg:px-8">
    <div class="mx-auto max-w-2xl pb-16 pt-24">
      <div class="text-center">
        <h1 class="text-balance text-indigo-800 tracking-[-0.04em] font-light text-[5rem]">Urban Style Hub</h1>
        <p class="mt-4 text-[#241b6a] text-xl">Bringing you quality fashion with care and passion. We're here to make
          you look and feel your best.</p>
      </div>
    </div>
  </div>
  <div id="secion-categories" class="px-0 bg-slate-50 py-16 px-12 rounded-sm">
    <div>
      <h3
        class="text-4xl font-light mb-4 translate-x-[-100px] translate-y-[-20px] bg-white w-max p-4 rounded-[5px] text-slate-700">
        Our Categories</h3>
    </div>
    <div class="grid grid-cols-4 gap-6">
      @for (childCat of childCategories() ; track childCat) {
      <app-collection-card [category]="childCat" />
      }
    </div>
  </div>
  <div id="secion-categories" class="mt-16 px-0 bg-slate-50 py-16 px-0 rounded-sm">
    <app-category-grid />
  </div>
  <div>
    <app-our-services />
  </div>
</div>