@use "tailwindcss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 90%; /* Base 14.4px instead of 16px - scales everything down */
}

:root {
  --c-primary-50: 240, 249, 255;
  --c-primary-100: 224, 242, 254;
  --c-primary-200: 186, 230, 253;
  --c-primary-300: 125, 211, 252;
  --c-primary-400: 56, 189, 248;
  --c-primary-500: 14, 165, 233;
  --c-primary-600: 167, 186, 233;
  --c-primary-700: 3, 105, 161;
  --c-primary-800: 7, 89, 133;
  --c-primary-900: 12, 74, 110;

  --c-secondary-50: 240, 253, 244;
  --c-secondary-100: 220, 252, 231;
  --c-secondary-200: 187, 247, 208;
  --c-secondary-300: 134, 239, 172;
  --c-secondary-400: 74, 222, 128;
  --c-secondary-500: 34, 197, 94;
  --c-secondary-600: 22, 163, 74;
  --c-secondary-700: 21, 128, 61;
  --c-secondary-800: 22, 101, 52;
  --c-secondary-900: 20, 83, 45;


  --c-neutral-50: 249, 250, 251;
  --c-neutral-100: 243, 244, 246;
  --c-neutral-200: 229, 231, 235;
  --c-neutral-300: 209, 213, 219;
  --c-neutral-400: 156, 163, 175;
  --c-neutral-500: 107, 114, 128;
  --c-neutral-600: 75, 85, 99;
  --c-neutral-700: 55, 65, 81;
  --c-neutral-800: 31, 41, 55;
  --c-neutral-900: 17, 24, 39;


  --c-custom-1: 219, 39, 119;
}


body {
  font-family: 'Poppins', sans-serif;
}

p {
  letter-spacing: 0.6px;
  line-height: 29px;
}

.content-container {
  @apply flex flex-col mt-20 mb-10;
}

.contained-page {
  @apply max-w-screen-2xl mx-auto px-4 md:px-8;
}

.margin-header {
  margin-top: 80px;

  @media (min-width: 768px) {}
}
