<div class="mt-30">
  <div class="w-full p-5">
    <div class="flex justify-between">
      <h1 class="text-5xl text-[#241b6a]">Checkout</h1>
      <a href="/" class="underline text-gray-500">Continue shopping</a>
    </div>
    <hr class="border-slate-300 my-10 xl:my-12">
    <div class="flex flex-wrap gap-4 min-h-48">
      <div class="flex-1 min-w-0">
        <app-checkout-user-info [(userDetails)]="userDetails" />
      </div>
      <div class="w-1/3 min-w-0">
        <app-order-summary [cartItems]="cartItems()">
          <order-button>
            <button
              class="w-full text-indigo-800 text-md py-3 cursor-pointer border hover:text-white hover:bg-indigo-800"
              (click)="confirmOrder()">
              Confirm order
            </button>
          </order-button>
          <order-info>
            <p class="text-sm text-gray-500 mt-4">By placing your order, you agree to our Terms of Use and Privacy
              Policy.</p>
          </order-info>
        </app-order-summary>
      </div>
    </div>
  </div>
</div>