<div class="lg:pt-40">
  <div
    class="relative flex flex-col lg:flex-row bg-slate-50 rounded-2xl sm:rounded-[40px] p-4 pb-0 sm:p-5 sm:pb-0 lg:p-24">
    <div class="absolute inset-0">
    </div>
    <div class="lg:w-[50%] max-w-lg relative">
      <h2 class="font-semibold text-4xl md:text-5xl">Stay in the loop & save</h2>
      <span class="block mt-5 text-neutral-500">Join our newsletter for updates on fresh arrivals, limited-time deals,
        and subscriber-only perks. No spam, just the good stuff.</span>
      <ul class="space-y-4 mt-10">
        <li class="flex items-center space-x-4">
          <span
            class="nc-Badge inline-flex px-2.5 py-1 rounded-full font-medium text-xs relative text-purple-800 bg-purple-100 relative">01</span>
          <span class="font-medium text-neutral-700">Early access to new drops</span>
        </li>
        <li class="flex items-center space-x-4">
          <span
            class="nc-Badge inline-flex px-2.5 py-1 rounded-full font-medium text-xs relative text-blue-800 bg-blue-100 relative">02</span>
          <span class="font-medium text-neutral-700">Free shipping alerts</span>
        </li>
        <li class="flex items-center space-x-4">
          <span
            class="nc-Badge inline-flex px-2.5 py-1 rounded-full font-medium text-xs relative text-red-800 bg-red-100 relative">03</span>
          <span class="font-medium text-neutral-700">Only good vibes in your inbox</span>
        </li>

      </ul>
      <form class="mt-10 relative max-w-sm"><input type="email"
          class="block w-full border-neutral-200 focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 bg-white disabled:bg-neutral-200 rounded-full text-sm font-normal h-11 px-4 py-3 "
          required="" aria-required="true" placeholder="Enter your email"><button
          class="flex items-center justify-center rounded-full disabled:bg-opacity-70 bg-slate-900 hover:bg-slate-800
      text-slate-50 absolute transform top-1/2 -translate-y-1/2 right-1  w-9 h-9  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-6000" type="submit"><svg
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
            data-slot="icon" class="w-6 h-6">
            <path fill-rule="evenodd"
              d="M3.75 12a.75.75 0 0 1 .75-.75h13.19l-5.47-5.47a.75.75 0 0 1 1.06-1.06l6.75 6.75a.75.75 0 0 1 0 1.06l-6.75 6.75a.75.75 0 1 1-1.06-1.06l5.47-5.47H4.5a.75.75 0 0 1-.75-.75Z"
              clip-rule="evenodd"></path>
          </svg></button></form>
    </div>
    <div class="relative block lg:absolute lg:right-0 lg:bottom-0 mt-10 lg:mt-0 max-w-lg lg:max-w-[calc(42%-40px)]">
      <picture class="flex h-full">
        <source media="(min-width: 768px)"
          srcset="https://genstorageaccount3116.blob.core.windows.net/printme-images/painting-girl.webp"><img
          src="https://genstorageaccount3116.blob.core.windows.net/printme-images/painting-girl.webp" alt=""
          sizes="(max-width: 768px) 100vw, 50vw" class="" style="margin-right: auto; margin-left: auto;">
      </picture>
    </div>
  </div>
</div>