<div class="nc-CategoryGrid px-0 md:px-6 max-w-screen-xl mx-auto">
  <div class="mb-8 mt-12 text-neutral-900">
    <h2 class="text-3xl md:text-4xl 2xl:text-5xl font-semibold text-center">Start Exploring.</h2>
  </div>
  <div class="mb-16 flex justify-center w-full text-sm md:text-base">
    <div class="p-1 bg-white rounded-full shadow-lg overflow-x-auto hiddenScrollbar flex space-x-2">
      @for (tab of tabs(); track tab.name) {
      <button type="button" (click)="setTab(tab.name)"
        class="px-8 py-3 rounded-full transition-colors whitespace-nowrap flex items-center space-x-2 text-sm"
        [class]="tabActive() === tab.name ? 'bg-slate-900 text-white' : 'text-neutral-600 hover:bg-neutral-100'">
        <app-icon [iconName]="tab.iconName" class="w-5 h-5" />
        <span>{{ tab.name }}</span>
      </button>
      }
    </div>
  </div>

  @if (childCategories().length === 0) {
  <div class="text-center text-neutral-500 text-sm">No child categories.</div>
  } @else {
  <div class="grid gap-4 md:gap-7 grid-cols-2 md:grid-cols-2 xl:grid-cols-3">
    @for (item of childCategories(); track item.id) {
    <div
      class="nc-CardCategory4 relative w-full aspect-[12/11] rounded-3xl overflow-hidden bg-white group hover:nc-shadow-lg transition-shadow">
      <div class="absolute bottom-0 right-0 max-w-[280px] opacity-80 hidden md:block">
        <!-- <img width="200" height="200" [src]="'/assets/placeholder.svg'" alt="" /> -->
      </div>

      <div class="absolute inset-0 p-5 sm:p-8 flex flex-col justify-between">
        <div class="flex justify-between items-center">
          <div
            class="w-14 h-14 md:w-32 md:h-32 rounded-full overflow-hidden z-0 {{'bg-rose-50' }} flex items-center justify-center">
            <img class="w-full h-full object-cover" [src]="item.imageUrl" [alt]="item.name" loading="lazy" />

          </div>
          <span class="text-xs text-slate-700 font-medium pl-1 md:ml-0">
            {{ productCount(item) || 0 }} {{ 'products' }}
          </span>
        </div>

        <div>
          <span class="block mb-2 text-xs md:text-sm text-slate-500 hidden md:block">
            {{ item.description }}
          </span>
          <h2 class="text-md md:text-3xl font-semibold">
            {{ item.name }}
          </h2>
        </div>

        <a [href]="'/products?categoryName=' + encodeURIComponent(item.name)"
          class="flex items-center text-xs md:text-sm group-hover:text-primary-500 transition-colors">
          <span>See Prints</span>
          <app-icon iconName="see-prints" class="w-4 h-4 ml-2.5" />
        </a>
      </div>

      <a class="absolute inset-0" [href]="'/products?categoryName=' + encodeURIComponent(item.name)"
        aria-label="Show Category"></a>
    </div>
    }
  </div>
  }
</div>